.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 11vh;
  margin-right: 2vh;
  margin-left: 2vh;
}

.movie-card {
  margin: 10px;
  height: 500px;
  width: 250px;
}

.movie-card img {
  height: 70%;
}

.movie-card-header {
  font-size: 18px;
}
.favorite {
  height: 1px;
  width: 1px;
  margin-left: 80%;
}
